In [2]:
#pip install streamlit pymysql pandas

In [4]:
import streamlit as st
import pymysql
import pandas as pd

# Database connection configuration
db_config = {
    'host': 'localhost',
    'user': 'root',  # replace with your username
    'password': 'root123',  # replace with your password
    'database': 'cleaned_census_data'  # replace with your database name
}

# Streamlit app
def main():
    st.title("MySQL Data Viewer")

    # Connect to the database
    try:
        connection = pymysql.connect(**db_config)
        st.success("Successfully connected to the database!")
        
        # SQL query
        query = "SELECT * FROM cleaned_census_data"        
        # Fetch data
        data = pd.read_sql(query, connection)
        # Display data
        st.subheader("Data from MySQL Database:")
        st.dataframe(data)
        
        # Query 1: Fetching data from census_data grouped by District
        query1 = "SELECT `State/UT`, District, Population FROM cleaned_census_data GROUP BY District"        
        # Fetch data
        data1 = pd.read_sql(query1, connection)
        # Display data
        st.subheader("1. Total Population of Each District:")
        st.dataframe(data1)
        
        # Query 2: Fetching data of literate males and females
        query2 = """
        SELECT `State/UT`, District, Literate_Male, Literate_Female
        FROM cleaned_census_data
        GROUP BY District LIMIT 50
        """
        data2 = pd.read_sql(query2, connection)
        st.subheader("2. Literate Male/Female by District:")
        st.dataframe(data2)
        
        # Query 3: Fetching data for percentage of workers (Male and Female)
        query3 = """
        SELECT `State/UT`, District,
            ROUND((Male_Workers / Population) * 100, 2) AS Percentage_of_Male_Workers,
            ROUND((Female_Workers / Population) * 100, 2) AS Percentage_of_Female_Workers
        FROM cleaned_census_data
        """
        data3 = pd.read_sql(query3, connection)
        st.subheader("3. Percentage of Male and Female Workers by District:")
        st.dataframe(data3)
        
        # Query 4: Households with LPG or PNG as a cooking fuel
        query4 = """
        SELECT `State/UT`, District, 
        SUM(LPG_or_PNG_Households) AS Households_with_LPG_or_PNG
        FROM cleaned_census_data
        GROUP BY District
        """
        data4 = pd.read_sql(query4, connection)
        st.subheader("4. Households with LPG/PNG Access by District:")
        st.dataframe(data4)

        # Query 5: Religious composition by district
        query5 = """
        SELECT `State/UT`, District,
            SUM(Hindus) AS Hindus,
            SUM(Muslims) AS Muslims,
            SUM(Christians) AS Christians,
            SUM(Sikhs) AS Sikhs,
            SUM(Buddhists) AS Buddhists,
            SUM(Jains) AS Jains,
            SUM(Others_Religions) AS Others_Religions,
            SUM(Religion_Not_Stated) AS Religion_Not_Stated
        FROM cleaned_census_data
        GROUP BY District
        """
        data5 = pd.read_sql(query5, connection)
        st.subheader("5. Religious Composition by District:")
        st.dataframe(data5)

        # Query 6: Households with internet access by district
        query6 = """
        SELECT District, 
        SUM(Households_with_Internet) AS Households_with_Internet_Access
        FROM cleaned_census_data
        GROUP BY District
        """
        data6 = pd.read_sql(query6, connection)
        st.subheader("6. Households with Internet Access by District:")
        st.dataframe(data6)
        
        # Query 7: Educational attainment distribution by district
        query7 = """
        SELECT District, 
            SUM(Below_Primary_Education) AS Below_Primary_Education,
            SUM(Primary_Education) AS Primary_Education,
            SUM(Middle_Education) AS Middle_Education,
            SUM(Secondary_Education) AS Secondary_Education,
            SUM(Higher_Education) AS Higher_Education,
            SUM(Graduate_Education) AS Graduate_Education,
            SUM(Other_Education) AS Other_Education,
            SUM(Literate_Education) AS Literate_Education,
            SUM(Illiterate_Education) AS Illiterate_Education
        FROM cleaned_census_data
        GROUP BY District
        """
        data7 = pd.read_sql(query7, connection)
        st.subheader("7. Educational Attainment Distribution by District:")
        st.dataframe(data7)
        
        # Query 8: Household access to transportation and amenities by district
        query8 = """
        SELECT District, 
            SUM(Households_with_Bicycle) AS Households_with_Bicycle,
            SUM(Households_with_Car_Jeep_Van) AS Households_with_Car_Jeep_Van,
            SUM(Households_with_Radio_Transistor) AS Households_with_Radio_Transistor,
            SUM(Households_with_Scooter_Motorcycle_Moped) AS Households_with_Scooter_Motorcycle_Moped,
            SUM(Households_with_Television) AS Households_with_Television,
            SUM(Households_with_Telephone_Mobile_Phone_Landline_only) AS Households_with_Telephone_Landline,
            SUM(Households_with_Telephone_Mobile_Phone_Mobile_only) AS Households_with_Mobile_Phone
        FROM cleaned_census_data
        GROUP BY District
        """
        data8 = pd.read_sql(query8, connection)
        st.subheader("8. Households with Access to Transportation and Amenities by District:")
        st.dataframe(data8)
        
        # Query 9: Condition of occupied census houses by district
        query9 = """
        SELECT District, 
            SUM(Condition_of_occupied_census_houses_Dilapidated_Households) AS Dilapidated_Households,
            SUM(Households_with_separate_kitchen_Cooking_inside_house) AS Households_with_Separate_Kitchen,
            SUM(Having_bathing_facility_Total_Households) AS Households_with_Bathing_Facility,
            SUM(Having_latrine_facility_within_the_premises_Total_Households) AS Households_with_Latrine_Facility
        FROM cleaned_census_data
        GROUP BY District
        """
        data9 = pd.read_sql(query9, connection)
        st.subheader("9. Condition of Occupied Census Houses by District:")
        st.dataframe(data9)

        # Query 10: Household size distribution by district
        query10 = """
        SELECT District, 
            SUM(Household_size_1_person_Households) AS Households_with_1_Person,
            SUM(Household_size_2_persons_Households) AS Households_with_2_Persons,
            SUM(Household_size_1_to_2_persons) AS Households_with_1_to_2_Persons,
            SUM(Household_size_3_persons_Households) AS Households_with_3_Persons,
            SUM(Household_size_3_to_5_persons_Households) AS Households_with_3_to_5_Persons,
            SUM(Household_size_4_persons_Households) AS Households_with_4_Persons,
            SUM(Household_size_5_persons_Households) AS Households_with_5_Persons,
            SUM(Household_size_6_8_persons_Households) AS Households_with_6_to_8_Persons,
            SUM(Household_size_9_persons_and_above_Households) AS Households_with_9_or_more_Persons
        FROM cleaned_census_data
        GROUP BY District
        """
        data10 = pd.read_sql(query10, connection)
        st.subheader("10. Household Size Distribution by District:")
        st.dataframe(data10)
        
        # Query 11: Total number of households in each State/UT
        query11 = """
        SELECT `State/UT`,
            SUM(COALESCE(Households, 0)) AS Total_Households
        FROM cleaned_census_data
        GROUP BY `State/UT`
        ORDER BY `State/UT`
        """
        data11 = pd.read_sql(query11, connection)
        st.subheader("11. Total Households by State/UT:")
        st.dataframe(data11)

        # Query 12: Households with Latrine Facility within Premises by District
        query12 = """
        SELECT `State/UT`, District, 
        SUM(Type_of_latrine_facility_Flush) AS Households_with_Latrine_Facility
        FROM cleaned_census_data
        GROUP BY District
        """
        data12 = pd.read_sql(query12, connection)
        st.subheader("12. Households with Latrine Facility within Premises by District:")
        st.dataframe(data12)

        # Query 13: Average Household Size by District
        query13 = """
        SELECT `State/UT`, District, 
        (SUM(Household_size_1_person_Households * 1) + 
         SUM(Household_size_2_persons_Households * 2) + 
         SUM(Household_size_3_persons_Households * 3) + 
         SUM(Household_size_4_persons_Households * 4) + 
         SUM(Household_size_5_persons_Households * 5) + 
         SUM(Household_size_6_8_persons_Households * 7) + 
         SUM(Household_size_9_persons_and_above_Households * 9)) / 
        (SUM(Household_size_1_person_Households + 
             Household_size_2_persons_Households + 
             Household_size_3_persons_Households + 
             Household_size_4_persons_Households + 
             Household_size_5_persons_Households + 
             Household_size_6_8_persons_Households + 
             Household_size_9_persons_and_above_Households)) AS Average_Household_Size
        FROM cleaned_census_data
        GROUP BY District
        """
        data13 = pd.read_sql(query13, connection)
        st.subheader("13. Average Household Size by District:")
        st.dataframe(data13)

        # Query 14: Owned vs Rented Households by District
        query14 = """
        SELECT `State/UT`, District, 
        SUM(Ownership_Owned_Households) AS Owned_Households,
        SUM(Ownership_Rented_Households) AS Rented_Households
        FROM cleaned_census_data
        GROUP BY District
        """
        data14 = pd.read_sql(query14, connection)
        st.subheader("14. Owned vs Rented Households by District:")
        st.dataframe(data14)
        
        # Query 15: Distribution of Different Types of Latrine Facilities in Each State
        query15 = """
        SELECT `State/UT`, 
        SUM(Type_of_latrine_facility_Pit_latrine_Households) AS Pit_Latrine_Households,
        SUM(Type_of_latrine_facility_Flush) AS Flush_Latrine_Households,
        SUM(Type_of_latrine_facility_Other_latrine_Households) AS Other_Latrine_Households
        FROM cleaned_census_data
        GROUP BY `State/UT`
        """
        data15 = pd.read_sql(query15, connection)
        st.subheader("15. Distribution of Different Types of Latrine Facilities in Each State:")
        st.dataframe(data15)
        
        # Query 16: Households with Access to Drinking Water Sources Near the Premises in Each State
        query16 = """
        SELECT `State/UT`, 
        SUM(Location_of_drinking_water_source_Near_the_premises_Households) AS Households_with_Drinking_Water_Near_Premises
        FROM cleaned_census_data
        GROUP BY `State/UT`
        """
        data16 = pd.read_sql(query16, connection)
        st.subheader("16. Households with Access to Drinking Water Sources Near the Premises in Each State:")
        st.dataframe(data16)

        # Query 17: Average Household Income Distribution Based on Power Parity Categories in Each State
        query17 = """
        SELECT `State/UT`,
        AVG(Power_Parity_Less_than_Rs_45000) AS Avg_Less_than_Rs_45000,
        AVG(Power_Parity_Rs_45000_90000) AS Avg_Rs_45000_90000,
        AVG(Power_Parity_Rs_90000_150000) AS Avg_Rs_90000_150000,
        AVG(Power_Parity_Rs_150000_240000) AS Avg_Rs_150000_240000,
        AVG(Power_Parity_Rs_240000_330000) AS Avg_Rs_240000_330000,
        AVG(Power_Parity_Rs_330000_425000) AS Avg_Rs_330000_425000,
        AVG(Power_Parity_Rs_425000_545000) AS Avg_Rs_425000_545000,
        AVG(Power_Parity_Above_Rs_545000) AS Avg_Above_Rs_545000
        FROM cleaned_census_data
        GROUP BY `State/UT`
        """
        data17 = pd.read_sql(query17, connection)
        st.subheader("17. Average Household Income Distribution Based on Power Parity Categories in Each State:")
        st.dataframe(data17)

        # Query 18: Percentage of Married Couples with Different Household Sizes in Each State
        query18 = """
        SELECT `State/UT`, 
        (SUM(Married_couples_1_Households) / SUM(Households)) * 100 AS Married_couples_1_Percentage,
        (SUM(Married_couples_2_Households) / SUM(Households)) * 100 AS Married_couples_2_Percentage,
        (SUM(Married_couples_3_Households) / SUM(Households)) * 100 AS Married_couples_3_Percentage,
        (SUM(Married_couples_4_Households) / SUM(Households)) * 100 AS Married_couples_4_Percentage,
        (SUM(Married_couples_5__Households) / SUM(Households)) * 100 AS Married_couples_5_Percentage
        FROM cleaned_census_data
        GROUP BY `State/UT`
        """
        data18 = pd.read_sql(query18, connection)
        st.subheader("18. Percentage of Married Couples with Different Household Sizes in Each State:")
        st.dataframe(data18)

        # Query 19: Households Below the Poverty Line Based on Power Parity Categories in Each State
        query19 = """
        SELECT `State/UT`, 
        SUM(Power_Parity_Less_than_Rs_45000) AS Households_Below_Poverty_Line
        FROM cleaned_census_data
        GROUP BY `State/UT`
        """
        data19 = pd.read_sql(query19, connection)
        st.subheader("19. Households Below the Poverty Line Based on Power Parity Categories in Each State:")
        st.dataframe(data19)

        # Query 20: Overall Literacy Rate (Percentage of Literate Population) in Each State
        query20 = """
        SELECT `State/UT`, 
        (SUM(Literate) / SUM(Population)) * 100 AS Literacy_Rate_Percentage
        FROM cleaned_census_data
        GROUP BY `State/UT`
        """
        data20 = pd.read_sql(query20, connection)
        st.subheader("20. Overall Literacy Rate (Percentage of Literate Population) in Each State:")
        st.dataframe(data20)



    except Exception as e:
        st.error(f"Error connecting to database: {e}")

    finally:
        if 'connection' in locals() and connection:
            connection.close()

if __name__ == "__main__":
    main()

2024-11-30 18:07:01.276 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.277 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.282 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.283 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
C:\Users\Yash\AppData\Local\Temp\ipykernel_13716\670639707.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)
2024-11-30 18:07:01.387 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.388 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.400 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.402 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
C:\Users\Yash\AppData\Local\Temp\ipykernel_13716\670639707.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1 = pd.read_sql(query1, connection)
2024-11-30 18:07:01.430 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.432 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.435 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.435 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
C:\Users\Yash\AppData\Local\Temp\ipykernel_13716\670639707.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2 = pd.read_sql(query2, connection)
2024-11-30 18:07:01.459 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.460 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.462 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-30 18:07:01.464 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.